@page "/Forks"
@using GitInsight.Web.Services
@using System.Net
@inject IAnalysisService AnalysisService


<AuthorizeView>
    <NotAuthorized>
        <h1> You need to sign in</h1>
    </NotAuthorized>
    <Authorized>
        <TitleCard Title="Forks"/>
        <RepoPathPicker OnChange="load" Disabled="@_loading"></RepoPathPicker>
        @if (true)
        {
            <RadzenCard Style="width: 400px;" class="mb-1">
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Loading</RadzenText>
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
            </RadzenCard>
        }

        @if (_forksGiven == null)
        {
        }
        else if (!_forksGiven.Any())
        {
            <p>@RepoPathContainer.pickedRepo does not have any forks</p>
        }
        else
        {
            <RadzenDataList TItem="ForkDto" Data="@_forksGiven" WrapItems="true">
                <Template Context="fork">
                    <ForkCard Fork="@fork"/>
                </Template>
            </RadzenDataList>
        }
    </Authorized>
</AuthorizeView>

@code {
    private string? _error;
    private bool _loading;

    IEnumerable<ForkDto>? _forksGiven;

    async Task GetForks()
    {
        _error = null;
        _loading = true;
        try
        {
            _forksGiven = await AnalysisService.GetForksFromApi(RepoPathContainer.pickedRepo);
            _error = null;
        }
        catch (HttpRequestException e)
        {
            Console.WriteLine(e);
            _error = e.Message;
            _forksGiven = null;
        }
        _loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await load();
    }

    public async Task load()
    {
        if (RepoPathContainer.pickedRepo != null) await GetForks();
    }

}
