@page "/"
@using GitInsight.Web.Services
@using GitInsight.Core
@inject IAnalysisService _analysisService
@inject HttpClient _httpClient

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1> You need to sign in</h1>
    </NotAuthorized>
    <Authorized>
        <RadzenImage Path="images/gitinsight_logo.png" ></RadzenImage>
         <h1>Welcome to Git Insight @context.User.Identity?.Name! </h1>

    </Authorized>
</AuthorizeView>
