<RadzenCard class="mb-3 rz-border-radius-3" Style="background-color: #cac4fe;  width: fit-content ">
    <h1 style="width:fit-content">@Title</h1>
</RadzenCard>

@code {

    [Parameter]
    public string Title { get; set; } = "";

}
